@use '../../../styles/breakpoints';

#webFooter {
    width: 100vw;
    max-width: 144rem;
    padding-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);

    #topWebfooter {
        width: 100%;
        max-width: 32.7rem;
        height: 6rem;
        display: inline-flex;
        align-items: flex-start;
        justify-content: center;
        border-bottom: solid .1rem rgba(255, 255, 255, 0.1);

        nav {
            position: absolute;
            margin-top: 9.2rem;
        }
    }

    #bottomWebfooter {
        width: 100%;
        height: 26rem;
        margin-top: 17.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);

        &>div:first-child {
            width: 100%;
            height: 19.6rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #webFooterMedia {
            width: 18.4rem;
            height: 2.4rem;
            display: inline-flex;
            justify-content: space-between;
        }
    }
}

.largeFooter {
    height: 81.5rem;
    padding-top: 25.3rem;
}

.shortFooter {
    height: 62.6rem;
    padding-top: 6.4rem;
}

//############################## TABLET AND DESKTOP VERSION ##############################

@include breakpoints.tabletAndDesktop {
    #webFooter {
        padding-bottom: 4rem;

        #topWebfooter {
            max-width: 69rem;
            padding-top: 0.7rem;
            display: inline-flex;
            justify-content: space-between;
            background-position: 0% 0%;

            nav {
                margin-top: 0.7rem;
                position: relative;
            }
        }

        #bottomWebfooter {
            height: 7.8rem;
            max-width: 69rem;
            margin-top: 3.1rem;
            flex-direction: row;
            align-items: flex-end;
            text-align: left;

            &>div:first-child {
                height: inherit;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #webFooter {

        #topWebfooter {
            max-width: 69rem;
            height: 6.8rem;
        }

        #bottomWebfooter {
            height: 7.8rem;
            max-width: 69rem;

            &>div:first-child {
                max-width: 45.6rem;
            }
        }
    }

    .largeFooter {
        height: 42.3rem;
        padding-top: 16.6rem;
    }

    .shortFooter {
        height: 33.7rem;
        padding-top: 8rem;
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #webFooter {

        #topWebfooter {
            max-width: 111.1rem;
            height: 7.6rem;
        }

        #bottomWebfooter {
            height: 7.8rem;
            max-width: 111.1rem;

            &>div:first-child {
                max-width: 73rem;

                div {
                    width: 35rem;
                }
            }
        }
    }

    .largeFooter {
        height: 39.3rem;
        padding-top: 13.6rem;
    }

    .shortFooter {
        height: 32.1rem;
        padding-top: 7.2rem;
    }
}