.btRegular {
    width: 15.2rem;
    height: 5.6rem;
    border-radius: 0.8rem;
    border: none;
    font: 400 1.5rem/2.2rem 'Jost-Medium';
    letter-spacing: 0.1rem;
    transition: color 0.3s ease, background-color 0.3s ease;

    &.whiteBg {
        background-color: white;
        color: var(--darkGrey);
    }

    &.orangeBg {
        background-color: var(--peach);
    }

    @media(hover:hover) {
        &.whiteBg:hover {
            background-color: var(--lightPeach);
            color: white;
        }

        &.orangeBg:hover {
            background-color: var(--lightPeach);
        }
    }
}