@use '../../../../styles/breakpoints';

.locationDetails {
    width: 100vw;
    height: 71.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .locationMap {
        width: inherit;
        height: 32rem;
        overflow: hidden;
    }

    .locationOffice {
        width: inherit;
        height: 39.4rem;
        padding: 8rem 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(253, 243, 240) url('../../../../assets/img/shared/bg-pattern-small-circle.svg') 0% 0% / 29.2rem no-repeat;
        text-align: center;

        h1 {
            color: var(--peach);
            margin-bottom: 2.4rem;
        }

        .detailsCont {
            height: 17.4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: rgb(51, 49, 54);

            .detailsHeader {
                font: 700 1.5rem/2.5rem 'Jost-Bold';
            }

            .detailsLine {
                font: 400 1.5rem/2.5rem 'Jost-Regular';
            }
        }
    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    .locationDetails {
        width: 100vw;
        max-width: 68.9rem;
        height: 68.3rem;

        &>div {
            max-width: inherit;
            border-radius: 1.5rem;
        }

        .locationMap {
            height: 32.6rem;
        }

        .locationOffice {
            height: 32.6rem;
            padding: 8.8rem 7.4rem 0;
            align-items: flex-start;
            background: rgb(253, 243, 240) url('../../../../assets/img/shared/bg-pattern-two-circles.svg') 0% 100% / 58.4rem no-repeat;
            text-align: left;

            .detailsCont {
                width: 100%;
                max-width: 54rem;
                height: 7.8rem;
                flex-direction: row;
                align-items: flex-start;

                &>div {
                    width: 25.5rem;
                }

                .detailsHeader {
                    font: 700 1.6rem/2.6rem 'Jost-Bold';
                }

                .detailsLine {
                    font: 400 1.6rem/2.6rem 'Jost-Regular';
                }
            }
        }
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    .locationDetails {
        max-width: 111rem;
        height: 32.6rem;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 3rem;

        .locationMap {
            width: 35rem;
            height: inherit;
            flex-shrink: 0;
            background-color: aqua;
            border-radius: 1.5rem;
        }

        .locationOffice {
            width: 100%;
            max-width: 73.0rem;
            height: inherit;
            padding: 8.8rem 0 0 9.5rem;
            align-items: flex-start;
            background: rgb(253, 243, 240) url('../../../../assets/img/shared/bg-pattern-two-circles.svg') 0% 100% / 58.4rem no-repeat;
            text-align: left;
            border-radius: 1.5rem;

            .detailsCont {
                width: 100%;
                max-width: 54rem;
                height: 7.8rem;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                color: rgb(51, 49, 54);

                &>div {
                    width: 25.5rem;
                }

                .detailsHeader {
                    font: 700 1.6rem/2.6rem 'Jost-Bold';
                }

                .detailsLine {
                    font: 400 1.6rem/2.6rem 'Jost-Regular';
                }
            }
        }

       &.reverse{
            flex-direction: row-reverse;
        }
    }
}