@use '../../../../assets/scss/breakpoints';

.locationDetails {
    width: 100vw;
    height: 714px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .locationMap {
        width: inherit;
        height: 320px;
        background-color: aqua;
    }

    .locationOffice {
        width: inherit;
        height: 394px;
        padding: 80px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(253, 243, 240) url('../../../../assets/img/shared/bg-pattern-small-circle.svg') 0% 0% / 292px no-repeat;
        text-align: center;

        h1 {
            color: var(--peach);
            margin-bottom: 24px;
        }

        .detailsCont {
            height: 174px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: rgb(51, 49, 54);

            .detailsHeader {
                font: 700 15px/25px 'Jost-Bold';
            }

            .detailsLine {
                font: 400 15px/25px 'Jost-Regular';
            }
        }
    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    .locationDetails {
        width: 100vw;
        max-width: 689px;
        height: 683px;

        &>div {
            max-width: inherit;
            border-radius: 15px;
        }

        .locationMap {
            height: 326px;
        }

        .locationOffice {
            height: 326px;
            padding: 88px 74px 0px;
            align-items: flex-start;
            background: rgb(253, 243, 240) url('../../../../assets/img/shared/bg-pattern-two-circles.svg') 0% 100% / 584px no-repeat;
            text-align: left;

            .detailsCont {
                width: 100%;
                max-width: 540px;
                height: 78px;
                flex-direction: row;
                align-items: flex-start;

                &>div {
                    width: 255px;
                }

                .detailsHeader {
                    font: 700 16px/26px 'Jost-Bold';
                }

                .detailsLine {
                    font: 400 16px/26px 'Jost-Regular';
                }
            }
        }
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    .locationDetails {
        max-width: 1110px;
        height: 326px;
        flex-direction: row;
        align-items: left;
        justify-content: space-between;
        column-gap: 30px;

        .locationMap {
            width: 350px;
            height: inherit;
            flex-shrink: 0;
            background-color: aqua;
        }

        .locationOffice {
            width: 100%;
            max-width: 730px;
            height: inherit;
            padding: 88px 0px 0px 95px;
            align-items: flex-start;
            background: rgb(253, 243, 240) url('../../../../assets/img/shared/bg-pattern-two-circles.svg') 0% 100% / 584px no-repeat;
            text-align: left;

            .detailsCont {
                width: 100%;
                max-width: 540px;
                height: 78px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                color: rgb(51, 49, 54);

                &>div {
                    width: 255px;
                }

                .detailsHeader {
                    font: 700 16px/26px 'Jost-Bold';
                }

                .detailsLine {
                    font: 400 16px/26px 'Jost-Regular';
                }
            }
        }
    }
}