@use '../../../../src/assets/scss/breakpoints';

.navBar{
    width: 370px;
    height: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

//############################## MOBILE VERSION ##############################

@include breakpoints.mobile {
    .navBar{
        width: 370px;
        height: 14px;
    }
}
