@use '../../../../src/assets/scss/breakpoints';

.navBar{
    height: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

//############################## TABLET AND DESKTOP VERSION ##############################

@include breakpoints.tabletAndDesktop {
    .navBar{
        width: 370px;
        height: 14px;
        flex-direction: row;
    }
}
