.mediaBt {
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    background-size: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s;
    border: none;
    
    @media(hover:hover){
        &:hover {
            opacity: 0.4;
        }
    }
}