@use './breakpoints';

@font-face {
    font-family: 'Jost-Regular';
    src: url('../fonts/Jost-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Jost-Medium';
    src: url('../fonts/Jost-Medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Jost-MediumItalic';
    src: url('../fonts/Jost-MediumItalic.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Jost-Bold';
    src: url('../fonts/Jost-Bold.woff');
    font-weight: 700;
}

:root {
    --peach: #E7816B; // rgb(231, 129, 107) hsl(11, 73%, 66%)
    --lightPeach: #FFAD9B; // rgb(255, 173, 155) hsl(11, 100%, 80%)
    --darkGrey: #333136; // rgb(51, 49, 54) hsl(264, 5%, 20%)
    --black: #1D1C1E; // rgb(29, 28, 30) hsl(270, 3%, 11%)
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}

p,
h1 {
    padding: 0px;
    margin: 0px;
}

h1 {
    font: 500 32px/36px 'Jost-Medium';
}

input,
textarea {
    width: 100%;
    padding-left: 24px;
    border: none;
    background-color: transparent;
    font: 500 15px/26px 'Jost-Medium';
    color: white;
}

input:focus,
textarea:focus {
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font: 500 15px/26px 'Jost-Medium';
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defaultTextReg {
    font: 400 16px/26px 'Jost-Regular';
}

.defaultTextBold {
    font: 700 16px/26px 'Jost-Bold';
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    h1 {
        font: 500 48px/48px 'Jost-Medium';
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    h1 {
        font: 500 48px/48px 'Jost-Medium';
    }
}