@font-face {
    font-family: 'Jost-Regular';
    src: url('../fonts/Jost-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Jost-Medium';
    src: url('../fonts/Jost-Medium.woff');
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}