.formTextField,
.formTextArea {
    width: inherit;
    height: auto;
    padding: 8px 0px 12px;
    margin-bottom: 24px;
    display: flex;
    border-bottom: solid 1px white;

    input {
        height: 26px;
    }

    textarea {
        height: 85px;
        margin-bottom: 5px;
        resize: none;
    }
}

.formTextField {
    flex-direction: row;
    align-items: flex-start;
}

.formTextArea {
    flex-direction: column;
}

.formTextField:has(input:focus),
.formTextArea:has(textarea:focus) {
    border-bottom: solid 2px white;
}

.formError {
    width: auto;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font: 500 12px/26px 'Jost-MediumItalic';

    p {
        width: 95px;
        height: 26px;
        text-align: right;
    }

    div {
        width: 20px;
        height: 20px;
        margin-left: 8px;
        background: url('../../../../../assets/img/contact/icon-error.svg') center/20px no-repeat;
    }
}