.formTextField,
.formTextArea {
    width: inherit;
    height: auto;
    padding: 0.8rem 0 1.2rem;
    margin-bottom: 2.4rem;
    display: flex;
    border-bottom: solid 1px white;

    input {
        height: 2.6rem;
    }

    textarea {
        height: 100%;
        margin-bottom: 0.5rem;
        resize: none;
    }
}

.formTextField {
    flex-direction: row;
    align-items: flex-start;
}

.formTextArea {
    flex-direction: column;
}

.formTextField:has(input:focus),
.formTextArea:has(textarea:focus) {
    border-bottom: solid 2px white;
}

.formError {
    width: auto;
    height: 2.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font: 500 1.2rem/2.6rem 'Jost-MediumItalic';

    p {
        width: 9.5rem;
        height: 2.6rem;
        text-align: right;
    }

    div {
        width: 2rem;
        height: 2rem;
        margin-left: 0.8rem;
        background: url('../../../../../assets/img/contact/icon-error.svg') center/2rem no-repeat;
    }
}