.btProjectsNavBar {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .btPNBcontent {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s ease;

        p {
            text-align: center;
            font: 500 28px/36px 'Jost-Medium';
            letter-spacing: 1.4px;
        }

        .btPNBtext {
            height: 71px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            div {
                width: 197px;
                font: 500 15px/22px 'Jost-Medium';
                letter-spacing: 5px;
                background: url('../../../assets/img/shared/icon-right-arrow.svg') right/6px no-repeat;
            }
        }
    }

    @media (hover:hover) {
        .btPNBcontent:hover {
            cursor: pointer;
            background-color: rgba(231, 129, 107, 0.5);
        }
    }
}