@use '../../../styles/breakpoints';

.btHamburger {
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    background-position: center;
    background-size: 2.4rem;
    background-repeat: no-repeat;
    border: none;
}

.hamburgerIcon {
    background-image: url('../../../assets/img/shared/icon-hamburger.svg');
}

.closeIcon {
    background-image: url('../../../assets/img/shared/icon-close.svg');
}

//############################## TABLET AND DESKTOP VERSION ##############################

@include breakpoints.tabletAndDesktop {
    .btHamburger {
        display: none;
    }
}