@use '../../../styles/breakpoints';

#locations {
    width: 100vw;
    margin-bottom: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 4rem;
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #locations {
        margin-bottom: 31rem;
        row-gap: 10.3rem;
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #locations {
        margin-bottom: 38rem;
        row-gap: 3.2rem;
    }
}