@use '../../../../../assets/scss/breakpoints';

.aboutContent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & div:first-of-type {
        width: 100vw;
        height: 320px;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    & div:last-of-type {
        width: inherit;
        height: 545px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(253, 243, 240) url('../../../../../assets/img/shared/bg-pattern-three-circles.svg') 0% 0% / 584px no-repeat;

        & p:first-of-type {
            width: 327px;
            font: 500 32px/36px 'Jost-Medium';
            color: var(--peach);
        }

        & p:last-of-type {
            width: 327px;
            margin-top: 24px;
            color: rgb(51, 49, 54);
            font: 400 15px/25px 'Jost-Regular';
        }
    }

}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    .aboutContent {
        max-width: 689px;
        border-radius: 15px;
        overflow: hidden;

        & div:first-of-type {
            max-width: 689px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        & div:last-of-type {
            max-width: 689px;
            height: 416px;
            padding-top: 68px;
            background: rgb(253, 243, 240) url('../../../../../assets/img/shared/bg-pattern-three-circles.svg') 94px -212px / 584px no-repeat;

            & p:first-of-type {
                width: 572px;
                font: 500 40px/48px 'Jost-Medium';
            }

            & p:last-of-type {
                width: 572px;
                font: 400 16px/26px 'Jost-Regular';
            }
        }

    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    .aboutContent {
        max-width: 1111px;
        flex-direction: row;
        border-radius: 15px;
        overflow: hidden;
        text-align: left;

        & div:first-of-type {
            max-width: 476px;
            height: 640px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        & div:last-of-type {
            max-width: 635px;
            height: 640px;
            padding-top: 154px;
            background: rgb(253, 243, 240) url('../../../../../assets/img/shared/bg-pattern-three-circles.svg') -146px 56px / 584px no-repeat;

            & p:first-of-type {
                width: 445px;
                font: 500 40px/48px 'Jost-Medium';
            }

            & p:last-of-type {
                width: 445px;
                font: 400 16px/26px 'Jost-Regular';
            }
        }

    }
}