@use '../../../../../styles/breakpoints';

.aboutContent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & div:first-of-type {
        width: 100vw;
        height: 32rem;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    & div:last-of-type {
        width: inherit;
        height: 54.5rem;
        padding-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(253, 243, 240) url('../../../../../assets/img/shared/bg-pattern-three-circles.svg') 0% 0% / 58.4rem no-repeat;

        & p:first-of-type {
            width: 32.7rem;
            font: 500 3.2rem/3.6rem 'Jost-Medium';
            color: var(--peach);
        }

        & p:last-of-type {
            width: 32.7rem;
            margin-top: 2.4rem;
            color: rgb(51, 49, 54);
            font: 400 1.5rem/2.5rem 'Jost-Regular';
        }
    }

}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    .aboutContent {
        max-width: 68.9rem;
        border-radius: 1.5rem;
        overflow: hidden;

        & div:first-of-type {
            max-width: 68.9rem;
            background-size: contain;
            background-repeat: no-repeat;
        }

        & div:last-of-type {
            max-width: 68.9rem;
            height: 41.6rem;
            padding-top: 6.8rem;
            background: rgb(253, 243, 240) url('../../../../../assets/img/shared/bg-pattern-three-circles.svg') 9.4rem -21.2rem / 58.4rem no-repeat;

            & p:first-of-type {
                width: 57.2rem;
                font: 500 4.0rem/4.8rem 'Jost-Medium';
            }

            & p:last-of-type {
                width: 57.2rem;
                font: 400 1.6rem/2.6rem 'Jost-Regular';
            }
        }

    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    .aboutContent {
        max-width: 111.1rem;
        flex-direction: row;
        border-radius: 1.5rem;
        overflow: hidden;
        text-align: left;

        & div:first-of-type {
            max-width: 47.6rem;
            height: 64rem;
            background-size: contain;
            background-repeat: no-repeat;
        }

        & div:last-of-type {
            max-width: 63.5rem;
            height: 64rem;
            padding-top: 15.4rem;
            background: rgb(253, 243, 240) url('../../../../../assets/img/shared/bg-pattern-three-circles.svg') -14.6rem 5.6rem / 58.4rem no-repeat;

            & p:first-of-type {
                width: 44.5rem;
                font: 500 4rem/4.8rem 'Jost-Medium';
            }

            & p:last-of-type {
                width: 44.5rem;
                font: 400 1.6rem/2.6rem 'Jost-Regular';
            }
        }

    }
}