@use '../../../../../assets/scss/breakpoints';

#aboutHeader {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--peach) url('../../../../../assets/img/about/mobile/bg-pattern-hero-about-mobile.svg') 100% 180px/ 876px no-repeat;

    & div:first-of-type {
        width: inherit;
        height: 320px;
        background: url('../../../../../assets/img/about/mobile/image-about-hero.jpg') top/cover no-repeat;
    }

    & div:last-of-type {
        width: inherit;
        height: 395px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        h1 {
            width: 327px;
        }

        p {
            width: 327px;
            margin-top: 24px;
            font: 400 15px/25px 'Jost-Regular';
        }
    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #aboutHeader {
        max-width: 689px;
        border-radius: 15px;
        overflow: hidden;
        background: var(--peach) url('../../../../../assets/img/about/desktop/bg-pattern-hero-about-desktop.svg') -121px -109px/ 640px no-repeat;

        & div:first-of-type {
            max-width: 689px;
            background: url('../../../../../assets/img/about/tablet/image-about-hero.jpg') top/cover no-repeat;
        }

        & div:last-of-type {
            max-width: 689px;
            height: 312px;
            padding-top: 64px;

            h1 {
                width: 573px;
            }

            p {
                width: 573px;
                margin-top: 32px;
                font: 400 16px/26px 'Jost-Regular';
            }
        }
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #aboutHeader {
        max-width: 1111px;
        flex-direction: row-reverse;
        border-radius: 15px;
        overflow: hidden;
        text-align: left;
        background: var(--peach) url('../../../../../assets/img/about/desktop/bg-pattern-hero-about-desktop.svg') 0% -160px/ 640px no-repeat;

        & div:first-of-type {
            width: 476px;
            height: 480px;
            background: url('../../../../../assets/img/about/desktop/image-about-hero.jpg') top/cover no-repeat;
        }

        & div:last-of-type {
            width: 635px;
            height: 480px;
            padding-top: 135px;

            h1 {
                width: 458px;
            }

            p {
                width: 458px;
                margin-top: 32px;
                font: 400 16px/26px 'Jost-Regular';
            }
        }
    }
}