#aboutHeader {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--peach) url('../../../../../assets/img/about/mobile/bg-pattern-hero-about-mobile.svg')  100% 180px/ 876px no-repeat;

    & div:first-of-type {
        width: inherit;
        height: 320px;
        background: url('../../../../../assets/img/about/mobile/image-about-hero.jpg') top/cover no-repeat;
    }

    & div:last-of-type {
        width: inherit;
        height: 395px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;        
        color: white;
        
        h1 {
            width: 327px;
        }

        p {
            width: 327px;
            margin-top: 24px;
            font: 400 15px/25px 'Jost-Regular';
        }
    }
}