@use './breakpoints';

@font-face {
    font-family: 'Jost-Regular';
    src: url('../assets/fonts/Jost-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Jost-Medium';
    src: url('../assets/fonts/Jost-Medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Jost-MediumItalic';
    src: url('../assets/fonts/Jost-MediumItalic.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Jost-Bold';
    src: url('../assets/fonts/Jost-Bold.woff');
    font-weight: 700;
}

:root {
    --peach: #E7816B; // rgb(231, 129, 107) hsl(11, 73%, 66%)
    --lightPeach: #FFAD9B; // rgb(255, 173, 155) hsl(11, 100%, 80%)
    --darkGrey: #333136; // rgb(51, 49, 54) hsl(264, 5%, 20%)
    --black: #1D1C1E; // rgb(29, 28, 30) hsl(270, 3%, 11%)
}

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}

p,
h1 {
    padding: 0;
    margin: 0;
}

h1 {
    font: 500 3.2rem/3.6rem 'Jost-Medium';
}

input,
textarea {
    width: 100%;
    padding-left: 2.4rem;
    border: none;
    background-color: transparent;
    font: 500 1.5rem/2.6rem 'Jost-Medium';
    color: white;
}

input:focus,
textarea:focus {
    outline: none;
}

input:-webkit-autofill, textarea:-webkit-autofill {
  box-shadow: 0 0 0 100rem transparent inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font: 500 1.5rem/2.6rem 'Jost-Medium';
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defaultTextReg {
    font: 400 1.6rem/2.6rem 'Jost-Regular';
}

.defaultTextBold {
    font: 700 1.6rem/2.6rem 'Jost-Bold';
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    h1 {
        font: 500 4.8rem/4.8rem 'Jost-Medium';
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    h1 {
        font: 500 4.8rem/4.8rem 'Jost-Medium';
    }
}