@use '../../../../../styles/breakpoints';

#values {
    width: 32.7rem;
    height: 139.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #values {
        width: 68.9rem;
        height: 67rem;
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #values {
        width: 111rem;
        height: 41.2rem;
        flex-direction: row;
    }
}