.locationItem {
    width: 350px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        width: 202px;
        height: 202px;
        background-position: center;
        background-size: 202px;
        background-repeat: no-repeat;
    }

    p {
        margin: 48px 0px 32px;
        font: 500 20px/26px 'Jost-Medium';
        letter-spacing: 5px;
        color: rgba(51, 49, 54);
    }
}