@use '../../../assets/scss/breakpoints';

#contact {
    width: 100vw;
    max-width: 1440px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #contactForm {
        margin-bottom: 120px;
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #contact {
        padding-bottom: 160px;
        background: url('../../../assets/img/shared/bg-pattern-leaf.svg') 100% 730px / 1006px no-repeat;

        #contactForm {
            margin-bottom: 160px;
        }
    }
}