@use '../../../styles/breakpoints';

#contact {
    width: 100vw;
    max-width: 144rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #contactForm {
        margin-bottom: 12rem;
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #contact {
        padding-bottom: 16rem;
        background: url('../../../assets/img/shared/bg-pattern-leaf.svg') 100% 73rem / 100.6rem no-repeat;

        #contactForm {
            margin-bottom: 16rem;
        }
    }
}