@use '../../../styles/breakpoints';

.projectView {
    width: 100%;
    height: 478px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(253, 243, 240);

    .projectViewPic {
        width: inherit;
        height: 320px;
        background-position: top;
        background-size: 327px;
        background-repeat: no-repeat;
    }

    .projectContent {
        width: inherit;
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectViewTitle {
        width: 268px;
        margin-bottom: 16px;
        font: 500 20px/26px 'Jost-Medium';
        letter-spacing: 5px;
        color: var(--peach);
    }

    .defaultTextReg {
        width: 268px;
        color: rgb(51, 49, 54);
    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    .projectView {
        height: 310px;
        flex-direction: row;

        .projectViewPic {
            height: inherit;
            background-size: 338px;
        }

        .projectContent {
            height: inherit;
            padding-top: 108px;
        }
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    .projectView {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projectViewPic {
            background-size: 350px;
        }

        .projectViewTitle {
            width: 286px;
        }

        .defaultTextReg {
            width: 286px;
        }
    }
}