#webDesign{
    width: 100vw;
    max-width: 144rem;
    margin-bottom: 28.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projectsList{
        margin-top: 9.6rem;
    }

    #projectsNavBar{
        margin-top: 9.6rem;
    }
}