@use '../../../assets/scss/breakpoints';

#about {
    width: 100vw;
    margin-bottom: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #locationsNavBar {
        margin-top: 120px;
    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #about {
        #talent {
            margin-top: 120px;
        }
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #about {
        #talent {
            margin-top: 160px;
        }
    }
}