.btNavegation {
    font: 400 1.4rem/1.4rem 'Jost-Regular';
    letter-spacing: 0.2rem;
    background-color: transparent;
    border: none;
}

@media(hover:hover){
    .btNavegation:hover {
        text-decoration: underline;
    }
}