.btNavegation {
    font: 400 14px/14px 'Jost-Regular';
    letter-spacing: 2px;
    background-color: transparent;
    color: var(--darkGrey);
    border: none;
}

@media(hover:hover){
    .btNavegation:hover {
        text-decoration: underline;
    }
}