#home{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    #homeLargeNavBar{
        margin-top: 120px;
    }

    #homeProjectsNavBar{
        margin-top: 120px;
    }

    #values{
        margin: 120px 0px;
    }
}