.btMobileNavBar{
    width: auto;
    height: 25px;
    padding: 0px;
    text-align: left;
    font: 400 24px/25px 'Jost-Regular';
    letter-spacing: 2px;
    color: white;
    background-color: transparent;
    border: none;
}