.btMobileNavBar{
    width: auto;
    height: 2.5rem;
    padding: 0;
    text-align: left;
    font: 400 2.4rem/2.5rem 'Jost-Regular';
    letter-spacing: 0.2rem;
    color: white;
    background-color: transparent;
    border: none;
}