@use '../../../styles/breakpoints';

.sectionHeader {
    width: 100vw;
    height: 320px;
    padding: 105px 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    background-color: var(--peach);
    background-position: 100% 0%;
    background-size: 876px;
    background-repeat: no-repeat;

    p {
        width: 100%;
        max-width: 327px;
        margin-top: 24px;
        font: 400 15px/25px 'Jost-Regular';
    }

}

//############################## TABLET AND DESKTOP VERSION ##############################

@include breakpoints.tabletAndDesktop {
    .sectionHeader {
        height: 252px;
        padding: 64px 70px 0px;
        border-radius: 15px;

        p {
            max-width: 400px;
            font: 400 16px/26px 'Jost-Regular';
        }

    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    .sectionHeader {
        max-width: 689px;
        background-position: -21px 50%;
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    .sectionHeader {
        max-width: 1111px;
        background-position: 100% 50%;
    }
}