.sectionHeader{
    width: 100vw;
    height: 320px;
    padding: 105px 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    background: var(--peach) url(../../../assets/img/shared/pattern-mixed-circles-reflected.svg) 100% 0% / 876px no-repeat;

    p{
        width: 100%;
        max-width: 327px;
        margin-top: 24px;
        font: 400 15px/25px 'Jost-Regular';
    }

}