@use '../../../styles/breakpoints';

#projectsNavBar {
    width: 100vw;
    height: 524px;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #projectsNavBar {
        max-width: 768px;
        height: 689px;
        padding: 0px 40px;
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #projectsNavBar {
        max-width: 1111px;
        height: 308px;
        padding: 0px;
        flex-direction: row;
        gap: 40px;
    }
}