.btHomeLink {
    width: 20.2rem;
    height: 2.7rem;
    background-color: transparent;
    background-size: 20.2rem;
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    transition: opacity 0.3s ease;
}

@media(hover:hover){
    .btHomeLink:hover {
        opacity: 0.3;
    }
}

.darkLogo {
    background-image: url('../../../assets/img/shared/logo-dark.png');
}

.lightLogo {
    background-image: url('../../../assets/img/shared/logo-light.png');
}