@use '../../../../../styles/breakpoints';

#homeProjectsNavBar {
    width: 100vw;
    height: 798px;
    padding: 0px 24px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 250px 250px 250px;
    row-gap: 24px;
    grid-template-areas:
        "web"
        "app"
        "graphic";
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #homeProjectsNavBar {
        max-width: 768px;
        height: 649px;
        padding: 0px 40px;
        grid-template-rows: 200px 200px 200px;
        row-gap: 24px;
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #homeProjectsNavBar {
        max-width: 1111px;
        height: 640px;
        padding: 0px;
        grid-template-columns: 541px 541px;
        grid-template-rows: 308px 308px;
        row-gap: 24px;
        column-gap: 30px;
        grid-template-areas:
            "web app"
            "web graphic";
    }
}