@use '../../../../../../src/assets/scss/breakpoints';

#letsTalk {
    width: 327px;
    height: 379px;
    margin-top: -190px;
    padding: 64px 0px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    background: var(--peach) url('../../../../../assets/img/shared/pattern-mixed-circles.svg') -240px 50%/876px 584px no-repeat;

    div {
        width: 279px;
        height: 163px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p:first-of-type {
            font: 500 32px/36px 'Jost-Medium';
        }

        p:last-of-type {
            font: 400 15px/25px 'Jost-Regular';
        }
    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #letsTalk {
        width: 690px;
        height: 350px;
        margin-top: -264px;
        padding: 57px 0px;
        border-radius: 15px;
        background: var(--peach) url('../../../../../assets/img/shared/pattern-mixed-circles.svg') -20px 50%/876px 584px no-repeat;

        div {
            width: 573px;
            height: 148px;

            p:first-of-type {
                font: 500 40px/40px 'Jost-Medium';
            }

            p:last-of-type {
                font: 400 16px/26px 'Jost-Regular';
            }
        }
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {}