@use '../../../../../styles/breakpoints';

#letsTalk {
    width: 32.7rem;
    height: 37.9rem;
    margin-top: -44.3rem;
    padding: 6.4rem 0;
    border-radius: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    background: var(--peach) url('../../../../../assets/img/shared/pattern-mixed-circles.svg') -24rem 50%/87.6rem 58.4rem no-repeat;

    div {
        width: 27.9rem;
        height: 16.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p:first-of-type {
            font: 500 3.2rem/3.6rem 'Jost-Medium';
        }

        p:last-of-type {
            font: 400 1.5rem/2.5rem 'Jost-Regular';
        }
    }
}

//############################## TABLET VERSION ##############################

@include breakpoints.tablet {
    #letsTalk {
        width: 69rem;
        height: 35rem;
        margin-top: -43rem;
        padding: 5.7rem 0;
        border-radius: 1.5rem;
        background: var(--peach) url('../../../../../assets/img/shared/pattern-mixed-circles.svg') -2rem 50%/87.6rem 58.4rem no-repeat;

        div {
            width: 57.3rem;
            height: 14.8rem;

            p:first-of-type {
                font: 500 4rem/4rem 'Jost-Medium';
            }

            p:last-of-type {
                font: 400 1.6rem/2.6rem 'Jost-Regular';
            }
        }
    }
}

//############################## DESKTOP VERSION ##############################

@include breakpoints.desktop {
    #letsTalk {
        width: 100%;
        max-width: 111.1rem;
        height: 29.2rem;
        margin-top: -35.7rem;
        padding: 7.2rem 9.6rem 4.6rem;
        flex-direction: row;
        align-items: flex-start;
        background: var(--peach) url('../../../../../assets/img/shared/pattern-mixed-circles.svg') 23.5rem 50%/87.6rem 58.4rem no-repeat;

        div {
            width: 45.9rem;
            height: 17.4rem;
            align-items: flex-start;
            text-align: left;

            p:first-of-type {
                width: 26.8rem;
                height: 9.8rem;
                font: 500 4rem/4rem 'Jost-Medium';
            }

            p:last-of-type {
                width: 45.9rem;
                height: 7.8rem;
                font: 400 1.6rem/2.6rem 'Jost-Regular';
            }
        }

        button {
            margin-top: 4.6rem;
        }
    }
}